.backgroundimg {
  background-image: url("/img_2.jpg");
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  width: 100%;
  position: relative;
}

/* Add a dark overlay */
.backgroundimg::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5); /* 50% dark */
  z-index: 1;
}

/* Make sure your content sits above the overlay */
.backgroundimg > * {
  position: relative;
  z-index: 3;
}

.bdgstick {
  position: sticky;
  top: 0;
  z-index: 1000;
}

.bgtrans {
  color: white;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  background-color: rgba(46, 29, 40, 0.754);

}

.home {
  margin-top: -5rem;
}
