.backgroundimg {
  background-image: url("/img_2.jpg");
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  width: 100%;
  position: relative;
}

.blogimg{
  background-image: url("/background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center;
}

/* Add a dark overlay */
.backgroundimg::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5); /* 50% dark */
  z-index: 1;
}

/* Make sure your content sits above the overlay */
.backgroundimg > * {
  position: relative;
  z-index: 3;
}

.bdgstick {
  position: sticky;
  top: 0;
  z-index: 1000;
}

.bgtrans {
  color: white;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  background-color: rgba(46, 29, 40, 0.754);

}

.home {
  margin-top: -5rem;
}

.bgcolors {
  background-color: rgba(29, 19, 26, 0.744);
  backdrop-filter: blur(50px);
  background-image: linear-gradient(to bottom right, rgba(29, 19, 26, 0.487), rgba(90, 38, 73, 0.744), rgba(163, 128, 153, 0.744) );
  color: white;
  margin-top: -0.9rem;
}

.profile {
  transition: all 0.5s ease;
  background-color: white;
  color: black;
}

.profile:hover {
  background-color: #e47a08;
  color: white;
}

.profile:hover .icon{
  background-color: white;
  color: #e47a08;
  transform: translate(10px, -10px);
  border: 2px solid #e47a08;
  border-color: #e47a08;
  border-radius: 10px;
}

.icon {
  transition: all 0.5s ease;
  color: #e47a08;
  border: initial;
  border-radius: initial;
}
